.about-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}

.about-us-info {
    flex: 2; /* Expand to fill available space */
    margin-right: 50px;
}

.map-wrapper {
    flex: 2; /* Expand to fill available space */
    padding: 16px;
}

.top-text{
    font-size: xxx-large;
    text-align: left;
    padding: 16px;
    font-weight: bolder;
    
}

.description-text{
    padding-bottom: 50px;
    /* font-family: 'Montserrat', sans-serif; */
    font-size:large;
    
}
/* 
@import url('https://fonts.cdnfonts.com/css/g-guarantee');


@font-face {
    font-family: 'g Guarantee', sans-serif;
} */

