.about-us-container {
display: grid;
grid-template-columns: 1fr 1fr;
}

.about-us-info {
    flex: 2; /* Expand to fill available space */
}

.map-wrapper {
    flex: 2; /* Expand to fill available space */
    padding-bottom: 50px;
    
}

.top-text{
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    justify-content: center;
    
}

.top-text-1 {
  font-size: xxx-large;
  padding: 10px;
  padding-top: 30px;
}

.top-text-2 {
  padding: 10px;

}

.description-names {
  font-size: large;
  font-weight: bold;
  padding: 5px;
  
}


.rammstein {
    display: grid;
    grid-template-rows:auto;
    align-items: top;
    justify-items: center; /* Center horizontally */
}

.my-picture {
    max-width: 300px;
    border-radius: 50px;
    padding: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Add margin for spacing between rows */
}

.contact-item img {
  margin-right: 10px; /* Add margin for spacing between image and text */
}

/* Add any additional styling for your images and text as needed */


.Viber, .WhatsApp, .Email {
    max-width: 50px;
    margin-right: 15px;
}

.my-name-tag {
    text-align: center;
  }
  
  .my-name-tag b {
    display: block; /* Display name on a separate line */
    font-weight: bold;
  }
  
  .my-name-tag p {
    display: block; /* Display "CEO" on a separate line */
    margin-top: 0; /* Remove default top margin for <p> */
  }

  .pointer {
    max-width: 50px;
  }

  .about-us-pointers {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    padding: 10px;
  }

  .description-text{
    /* font-family: 'Montserrat', sans-serif; */
    font-size:medium;
    padding-left: 5px;
    
}

.about-us-button-container {
    display: grid;
    justify-items: end;
}

.map-wrapper {
  padding: 10px;
}


/* Responsive design max-width: 1000px */

@media (max-width: 1000px) {
  .about-us-container {
    display: block;
  }
  }

  @media (max-width: 1000px) {
  .about-us-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
}

@media (max-width: 1000px) {
  .my-picture {
    max-width: 200px;
    border-radius: 50px;
    padding: 20px;
}
}

@media (max-width: 1000px) {
  .top-text-1 {
    font-size: xx-large;
    padding: 10px;
    padding-top: 30px;
    margin:auto;
    text-align: center;
}
}

@media (max-width: 1000px) {
  .top-text-2 {
    padding: 10px;
    font-size: x-large;
    margin:auto;
    text-align: center;
    
}
}