.for-employers-h1 {
    padding-top: 30px;
    text-align: center;
}

.ForEmployerPageHeader{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;

}

.ForEmployerPageForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 606px;
    padding-bottom: 30px;
  }
  
  .ForEmployerPageForm label {
    margin-bottom: 10px;
  }
  
  .ForEmployerPageForm input,
  .ForEmployerPageForm textarea {
    width: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ForEmployerPageForm button {
    background-color: #007bff; /* Button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }

  .ForEmployerPageForm button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }

  .for-employers-page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  .beaver-head {
    max-width: 576px;
    display: flex;
    margin:auto
  }

