.job-application-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}

.talents-header {
  text-align: center;
}

.job-application-form-container {
  max-width: 100%; /* Adjust the width as needed */
  margin: auto;
  background-color: #fffdf1; /* Background color for the form container */
  /* border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.job-application-form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.job-application-form-container form {
  display: grid;
  gap: 10px;
}

.job-application-form-container label {
  /* font-weight: bold; */
}

.job-application-form-container input[type="text"],
.job-application-form-container input[type="tel"],
.job-application-form-container input[type="email"],
.job-application-form-container input[type="date"],
.job-application-form-container input[type="file"],
.job-application-form-container select {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-application-form-container input[type="radio"],
.job-application-form-container input[type="checkbox"] {
  margin-right: 5px;
}

.job-application-form-container button {
  background-color: #007bff; /* Button background color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.job-application-form-container button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.talents-page-description {
display: flex;
max-width: 100%;
}
