.main-window{
    /* background-color:#fcbd2c; */
  background-color: #FFFDF1;

    height: 844px;
  
  }
  
  .logspot {
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1225px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .beaver-image {
    max-width: 470px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
  }
  
  /* MOVING EYES */
  
  .moving-eyes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 141px;
    /* min-height: -10vh; */
    grid-gap: 60px;
    
    
  }
  
  .moving-eyes-container .eye {
    position: relative;
    width: 71px;
    min-height: 71px;
    display: block;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    border-radius: 50%;
  }
  
  .moving-eyes-container .eye::before {
    content:'';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    background: black;
    border-radius: 50%;
  }
  
  /* OUR PARTNERS WE ARE WORKING WITH */

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 22px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    border-bottom: solid #f8f0db 2px;
    border-top: solid #f8f0db 2px;


  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  /* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  } */
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating-logo {
    animation: rotate 5s linear infinite; /* Adjust the duration and animation properties as needed */
  }


   /* Stripes, Stripe1 */

   .stripes-container {
    overflow-x: hidden;
    max-width: 100%;
    height: 500px;
   
   }


   @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .stripe1 {
    overflow: hidden;
    padding: 22px 0;
    background: #f04a23;
    white-space: nowrap;
    position: relative;
    bottom: -175px;
    transform: rotate(-10deg) scaleX(1.1); /* Apply the rotation here */
    border: solid black 2px;
  }
  
  .stripe1:before,
  .stripe1:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  /* .stripe1:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .stripe1:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  } */
  
  /* .stripe1:hover .stripe1-slide {
    animation-play-state: paused;
  } */
  
  .stripe1-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .stripe1-slide img {
    height: 50px;
    margin: 0 40px;

  }

   /* Stripes, Stripe2 */

   @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .stripe2 {
    overflow: hidden;
    padding: 22px 0;
    background: #fcbd2c;
    white-space: nowrap;
    position: relative;
    bottom: -76px;
    transform: rotate(10deg) scaleX(1.1); /* Apply the rotation here */
    border: solid black 2px;
  }
  
  .stripe2:before,
  .stripe2:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  /* .stripe2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .stripe2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  } */
  
  /* .stripe2:hover .stripe2-slide {
    animation-play-state: paused;
  } */
  
  .stripe2-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .stripe2-slide img {
    height: 50px;
    margin: 0 40px;

  }


  
/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .rotating-logo-black {
  animation: rotate 5s linear infinite; 
} */

  
  /* INTRODUCTION TEXT */
  
  .introduction-container {
    max-width: 1440px;
    height: 1000px;
    background-color: #fffdf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .introduction-text-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
 
  }
  
  .introduction-text {
    font-size: x-large;
    color: #000000;
    text-align: center;
    padding-top: 20px; 
    max-width: 80%;

  }
  
  

  /* Card Container */

  .header-card-container{
    max-width: 1440px;
    margin: auto;
    font-size: xx-large;
    font-weight: bolder;
    /* position: relative; */
    /* bottom: -160px; */
    padding-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-card-container-text {
    font-size: x-large;
    font-weight: 100;
  }

  .header-card-container-image {

  }

  .sign-up-process{
    max-width: 550px;
  }

  .number{
    max-width: 60px;
  }

  .sticky-container-number {
    font-size: xxx-large;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: left;
    align-items: center;
    padding-bottom: 16px;
        padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-container {
   position:relative;
   max-width: 1440px;
   margin: auto;
   padding-left: 20px;
   padding-right: 20px;
  }
  
  .sticky-card-container .section{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;   
   
  }

  .sticky-card-container .section:nth-child(1){
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .sticky-card-inner-container-1{
    max-width: 1600px;
    height: 600px;
    background-color: white;
    /* background-color: #fcbd2c; */
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
    font-size:x-large;
    align-items: center;

  }
  }
  
  .sticky-card-container .section:nth-child(2){
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .sticky-card-inner-container-2{
    max-width: 1600px;
    height: 600px;
    background-color: white;
    /* background-color: #fcbd2c; */
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
    font-size:x-large;
    align-items: center;

  }
  }

 .sticky-card-container .section:nth-child(3){
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 .sticky-card-inner-container-3{
   max-width: 1600px;
   height: 600px;
   background-color: white;
   /* background-color: #fcbd2c; */
   border-radius: 20px;
   border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px;
   display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
    font-size:x-large;
    align-items: center;

  }
  }

  .sticky-card-container .section:nth-child(4){
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     .sticky-card-inner-container-4{
      max-width: 1600px;
      height: 600px;
      background-color: white;
      /* background-color: #fcbd2c; */
      border-radius: 20px;
      border: 1px solid;
      padding: 10px;
      box-shadow: 5px 10px;
      display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
    font-size:x-large;
    align-items: center;

      }
      }


.sticky-container-image{
  max-width: 600px;
  padding: 10px;
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */

}

.sticky-card-inner-text {
  padding: 40px;
}

.companies-who-choose-us {
  font-size: large;
  text-align: center;
  padding-top: 5px;
}

@media (max-width: 1300px) {
  .logspot {
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1000px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-window{
    height: 773px;
  }

  .introduction-container {
    height: 900px;
  
  }

  }
  
  @media (max-width: 1100px) {
    .logspot {
      padding-top: 85px;
      padding-bottom: 85px;
      max-width: 800px;
      margin-right: auto; 
      margin-left: auto;
      display: block;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .main-window{
      height: 709px;
    }
  
    .introduction-container {
      height: 800px;
    
    }
  
    .introduction-container {
      height: 1400px;
    
    }

    .introduction-text-image {
      content: url('../images/introduction-text-image-mobile.svg');
      max-width: 100%;
      height: auto;
  
      margin: 0 auto;
    }

    }
    
    @media (max-width: 900px) {
      .logspot {
        padding-top: 85px;
        padding-bottom: 85px;
        max-width: 600px;
        margin-right: auto; 
        margin-left: auto;
        display: block;
        padding-left: 40px;
        padding-right: 40px;
      }
    
      .main-window{
        height: 645px;
      }
    
    
      }

      @media (max-width: 690px) {
        .logspot {
          padding-top: 85px;
          padding-bottom: 85px;
          max-width: 500px;
          margin-right: auto; 
          margin-left: auto;
          display: block;
          padding-left: 40px;
          padding-right: 40px;
        }
      
        .main-window{
          height: 614px;
        }
      
        .introduction-container {
          height: 600px;
        
        }

        .stripe1 {
          overflow: hidden;
          padding: 6px 0;
          background: #f04a23;
          white-space: nowrap;
          position: relative;
          bottom: -145px;
          transform: rotate(-15deg) scaleX(1.1); /* Apply the rotation here */
          border: solid black 2px;
        }

        .stripe2 {
          overflow: hidden;
          padding: 6px 0;
          background: #fcbd2c;
          white-space: nowrap;
          position: relative;
          bottom: -76px;
          transform: rotate(15deg) scaleX(1.1); /* Apply the rotation here */
          border: solid black 2px;
        }

      


        }

        @media (max-width: 580px) {
          .logspot {
            padding-top: 85px;
            padding-bottom: 85px;
            max-width: 400px;
            margin-right: auto; 
            margin-left: auto;
            display: block;
            padding-left: 40px;
            padding-right: 40px;
          }
        
          .main-window{
            height: 521px;
          }
        
          .introduction-container {
            height: 600px;
          
          }

          .beaver-image {
            max-width: 370px;
            margin-right: auto; 
            margin-left: auto;
            display: block;
          }
          
          
          .moving-eyes-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 113px;
            grid-gap: 38px;
            
            
          }
          
          .moving-eyes-container .eye {
            position: relative;
            width: 59px;
            min-height: 59px;
            display: block;
            background: rgb(255, 255, 255);
            margin: 0 15px;
            border-radius: 50%;
          }
          
          .moving-eyes-container .eye::before {
            content:'';
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translate(-50%,-50%);
            width: 35px;
            height: 35px;
            background: black;
            border-radius: 50%;
          }
          
        
          }

          @media (max-width: 480px) {
            .logspot {
              padding-top: 103px;
              padding-bottom: 103px;
              width: 300px;
              padding-left: 5px;
              padding-right: 5px;
              display: block;
              margin: auto;
            }
          
            .main-window{
              height: 481px;
            }
          
            .introduction-container {
              height: 600px;
            
            }
  
            .beaver-image {
              max-width: 300px;
              margin-right: auto; 
              margin-left: auto;
              display: block;
            }
            
            
            .moving-eyes-container {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              bottom: 92px;
              grid-gap: 26px;
              
            }
            
            .moving-eyes-container .eye {
              position: relative;
              width: 47px;
              min-height: 47px;
              display: block;
              background: rgb(255, 255, 255);
              margin: 0 15px;
              border-radius: 50%;
            }
            
            .moving-eyes-container .eye::before {
              content:'';
              position: absolute;
              top: 50%;
              left: 25px;
              transform: translate(-50%,-50%);
              width: 28px;
              height: 28px;
              background: black;
              border-radius: 50%;
            }
            
          
            }