.main-window{
    background-color:#fcbd2c;
    height: 825px;
  
  }
  
  .logspot {
    padding-top: 77px;
    padding-bottom: 74px;
    max-width: 1225px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
  }
  
  .beaver-image {
    max-width: 470px;
    margin-right: auto; 
    margin-left: auto;
    display: block;
  }
  
  /* MOVING EYES */
  
  .moving-eyes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 141px;
    /* min-height: -10vh; */
    grid-gap: 60px;
    
    
  }
  
  .moving-eyes-container .eye {
    position: relative;
    width: 71px;
    min-height: 71px;
    display: block;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    border-radius: 50%;
  }
  
  .moving-eyes-container .eye::before {
    content:'';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    background: black;
    border-radius: 50%;
  }
  
  /* OUR PARTNERS WE ARE WORKING WITH */

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 22px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    border-bottom: solid #f8f0db 2px;

  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  
 /* Add these styles to your CSS file */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-logo {
  animation: rotate 5s linear infinite; /* Adjust the duration and animation properties as needed */
}
  
  
  /* INTRODUCTION TEXT */
  
  .introduction-container {
    max-width: 100%;
    height: 1067px;
    background-color: #fffdf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .introduction-text-image {
    max-width: 80%;
    margin: 0 auto; /* Center horizontally */
  }
  
  
  .introduction-text {
    font-size:x-large;
    color: #000000;
    text-align: center;
    padding-top: 50px; /* Adjust as needed */
    max-width: 1200px;  
  }
  
  
  
  /* APPLICATION PROCESS */
  
  /* .application-container {
    max-width: 100%;
    height: 800px;
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  .inner-container-left {
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    font-size: small;
    max-width: 100%;
    height: 700px;
  }
  
  .application-process-layout {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .application-process-steps {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  .number-1-text, .number-2-text, .number-3-text, .number-4-text {
    font-size: large;
  }
  
  .sign-up-process {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  } */
  
  
  .card-container {
   position:relative;
   width: 100%;
  }
  
  .sticky-card-container .section{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background: green;
  }

  .sticky-card-container .section:nth-child(1){
  background-color: red;
  background-size: cover;
  }
  
  .sticky-card-container .section:nth-child(2){
    background-color: yellow;
  background-size: cover;

    }

    .sticky-card-container .section:nth-child(3){
      background-color: blue;
  background-size: cover;

      }

      .sticky-card-container .section:nth-child(4){
        background-color: orange;
  background-size: cover;

        }
  

  /* .inner-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 700px;
  }
  
  .beaver-sitting-image {
    width: 500px;
    
  } */