.sign-up-container {
  display: flex;
  align-content: center;
  justify-content: center;

 }

.sign-up-button {
  width: 100px;
  height: auto;
  background-size: cover;
  cursor: pointer;
  padding: 10px;

}

.logspot-logo {
  width: 150px;
  height: auto; 
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  background-color:#fcbd2c;
  /* background-color: #FFFDF1; */

  padding: 5px; 
  height: 77px
  /* margin: auto; */
}

.menu-icon {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  
}

.menu-icon.open .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}

/* Dropdown menu styles */

.menu-dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color:#fcbd2c;
  /* background-color: #FFFDF1; */

  font-size: medium;
  font-weight:540;
  margin: auto;
  width: 1840px;
}

.menu-dropdown a {
  display: block;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcbd2c;
  /* background-color: #FFFDF1; */

  text-decoration: none;
  
}


@media (max-width: 771px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: flex;
  }

  .menu-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    max-width: 200px;
    border: 1px solid #000
  }

  .menu-dropdown.open {
    display: flex;
  }

  .logspot-logo-new {
    width: 120px; 
    height: auto; 
    padding-left: 10px;
  }

  .menu-icon-container {
    display: grid;
    grid-template-columns: 29fr 1fr;
    padding-right: 10px;

  }

  .logspot-logo {
    background-image: url('../images/logo-new.svg');
    background-size: cover; /* Adjust based on your design */
    background-repeat: no-repeat; /* Adjust based on your design */
    width: 100px; /* Adjust based on your design */
    height: 100px; /* Adjust based on your design */
  }
}



