body {
  background-color: #FFFDF1;
  font-family: 'Montserrat', sans-serif;

}

.hero-container {
  max-width: 1440px;
  margin: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* margin: auto; */
  background-color: #fcbd2c; 
  padding-top: 10px;
  
}

.footer-1, .footer-2, .footer-3, .footer-4 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  list-style-type: none;
  padding-bottom: 15px
  /* max-width: 400px; */
}

ul {
  padding: 0;
}


h3 {
  padding-bottom: 8px;
}


.social-images {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  
}

.social-list-item {
  display: flex;
  align-content: end;
  text-align: left;
  padding-bottom: 5px;

}

.social-networks {
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}





a {
  color: black !important;
  
}

.social-text {
  text-decoration: none; /* Remove the underline by default */
  cursor: pointer; /* Change cursor to pointer */
}

.social-text:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Change cursor to pointer */

}



